{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="card w-25 my-5">
        <h1 class="card-header fs-2">Email envoyé</h1>

        <div class="card-body">
            <p>
                Si un compte existe avec cette adresse email, un lien de réinitialisation de mot ed passe vient de vous être envoyé. <br>
                Ce lien expirera dans une heure.<br>
                Si vous ne recevez pas d'email, vérifiez vos courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}" class="visible-link">réessayez</a>.
            </p>
        </div>
    </div>
{% endblock %}
